header {
  color: rgba(0, 0, 0, 0.562);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
  padding: 5px 50px;
  font-size: 36px;
  background-color: rgba(107, 107, 107, 0.397);
}

.cart-icon {
  cursor: pointer;
  transform: scale(1.2);
  
}
.cart-icon:hover {
  cursor: pointer;
  transform: scale(1.8);
}
